<div class="titlebar row">
  <div class="col-md-10 col-xs-9">
    <h1><%= @behavior.name %></h1>
  </div>
</div>

<div class="settings">
  <form action="/repos/<%= @repo.github_full_name %>/<%= @behavior.kind %>" method="POST">
    <% if @behavior.settings.present? %>
      <% @behavior.settings.each do |key, setting| %>
        <% @settings.each do |saved_setting| %>
          <% if saved_setting["key"] === key %>
            <div class="row">
              <label>
                <%= setting["label"] %>
                <input name="setting_<%= key %>" type="text" value="<%= saved_setting.value%>" />
              </label>
            </div>
          <% end %>
        <% end %>
      <% end %>

      <input type="submit" value="Save" class="btn btn-primary" />
    <% else %>
      <p>There are no settings for this behavior.</p>
    <% end %>
  </form>
</div>
