<% if current_user.repos.length > 0 %>
  <ul>
  <% current_user.repos.each do |repo| %>
    <li class="repo owner-<%= repo.github_owner %> <%= repo.private ? "private" : "" %>">
        <div class="label">
          <% if repo.active %>
          <form action="/repos/<%= repo.github_full_name %>/unsubscribe" method="POST">
            <input type="hidden" name="id" value="<%= repo.id %>" />
            <button type="submit" class="btn btn-default">Unsubscribe</button>
          </form>
          <% else %>
          <form action="/repos/<%= repo.github_full_name %>/subscribe" class="subscribe" method="POST">
            <input type="hidden" name="id" value="<%= repo.id %>" />
            <input type="hidden" name="token" />
            <input type="hidden" name="has_customer" value="<%= current_user.has_customer? ? "true" : "" %>" />
            <input type="hidden" name="name" value="<%= repo.github_full_name %>" />
            <input type="hidden" name="private" value="<%= repo.private %>" />
            <button type="submit" class="btn btn-primary"><%= repo.private ? "<span class=\"cost\">$15/mo</span>" : "" %> Subscribe</button>
          </form>
          <% end %>

          <span class="organization"><%= repo.github_owner %>/</span><%= repo.name %>
          <small class="tags"><%= repo.tags.join(',') %></small>
        </div>
      </form>
    </li>
  <% end %>
  </ul>
<% else %>
  <p class="empty">Syncing&hellip;</p>
<% end %>