<%= partial :repo_header, locals: {repo: @repo} %>

<div class="settings row">
  <nav class="col-md-2 sidebar">
    <%= partial :repo_menu, locals: {repo: @repo} %>
  </nav>
  <div class="col-md-10">
    <h2>Behaviors</h2>
    <form action="/repos/<%= @repo.github_full_name %>" method="POST">
      <input type="hidden" name="_method" value="PUT">

      <div class="search">
        <input type="search" placeholder="search behaviors..." class="search form-control" />
      </div>

      <h3>Active</h3>
      <ul class="behaviors">
        <% behavior_ids = @repo.behaviors.pluck(:id) %>
        <% @repo.behaviors.each do |behavior| %>
          <%= partial :behavior, locals: {behavior: behavior, repo: @repo} %>
        <% end %>
      </ul>

      <h3>Inactive</h3>
      <ul class="behaviors">
        <% @behaviors.each do |behavior| %>
          <% unless @repo.behaviors.include?(behavior) %>
          <%= partial :behavior, locals: {behavior: behavior, repo: @repo} %>
          <% end %>
        <% end %>
      </ul>

      <input type="submit" value="Save Settings" class="btn btn-primary" />
    </form>
  </div>
</div>
