<li class="repo <%= active ? 'active' : '' %>">
  <a href="/repos/<%= repo.github_full_name %>">
    <div class="name"><span class="organization"><%= repo.github_owner %> / </span><%= repo.name %></div>
    <time>
      <% if repo.tasks.last %>
        Last run <%= readable repo.tasks.last.created_at %>
      <% else %>
        Connected <%= readable repo.updated_at %>
      <% end %>
    </time>
  </a>
</li>
