<h1>Account</h1>
<p class="subtitle">
  Manage your subscription and payment method.
</p>

<div class="row billing">
  <div class="col-md-12">
    <% if current_user.has_customer? %>
    <section>
      <h3>Summary</h3>
      <p>Stripe customer id: <%= current_user.customer.id %></p>
      <p>Stripe subscription id: <%= current_user.customer.subscriptions.first.id %></p>
      <p>Repos paid for on Stripe: <%= current_user.customer.subscriptions.first.quantity %></p>
      <p>Private repos active: <%= current_user.repos.active.private.count %></p>
      <p>Subscription models: <%= current_user.subscriptions.count %></p>
      <p>Monthly cost: $<%= current_user.subscriptions.count * 10 %></p>
    </section>
    <% end %>
    <section>
      <h3>Payment Method</h3>
      <% if current_user.has_customer? %>

      <% card = current_user.customer.sources.all(:object => "card").first %>
      <p>Card Identifier: <%= card.brand %> <%= card.last4 %></p>
      <p>Expires <%= card.exp_month %>/<%= card.exp_year %></p>

      <% else %>
      <p class="empty">No payment methods currently on file.</p>
      <% end %>
    </section>
    <section>
      <h3>Billing History</h3>
      <% if current_user.has_customer? %>
      <table class="table table-hover">
        <thead>
          <tr>
            <td>Date</td>
            <td>Item</td>
            <td>Amount</td>
          </tr>
        </thead>
        <tbody>
        <% current_user.customer.charges.each do |charge| %>
          <%= partial :'account/charge', locals: {charge: charge} %>
        <% end %>
        </tbody>
      </table>
      </ol>
      <% else %>
      <p class="empty">No billing history, yet…</p>
      <% end %>
    </section>
  </div>
</div>
