<h1><%= @onboarding ? "Get Started" : "Connect" %></h1>
<div class="row">
  <div class="<%= current_user.has_access_to_private_repos? ? 'col-md-12' : 'col-md-9' %>">
    <% if @onboarding %>
    <p class="subtitle">Choose a repository to get started with Pushbit.</p>
    <% else %>
    <p class="subtitle">Choose another repository to connect to Pushbit.</p>
    <% end %>
  </div>
  <% unless current_user.has_access_to_private_repos? %>
  <div class="col-md-3">
    <a href="/auth/login/private" class="btn btn-primary pull-right">
      <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
      Show Private Repos
    </a>
  </div>
  <% end %>
</div>

<section id="subscribe">
  <% if @organizations.length > 0 %>
  <form class="row">
    <ul class="organizations">
      <li class="col-md-4"><label>
        <input type="radio" name="organization_id" value="" checked /> All</label></li>
      </li>

      <% @organizations.each do |org| %>
        <li class="col-md-4"><label>
          <img src="<%= org.avatar_url %>" class="logo"/>
          <input type="radio" name="organization_id" value="<%= org.login %>" /> <%= org.login %></label></li>
        </li>
      <% end %>
    </ul>
  </form>
  <% end %>

  <div class="search">
    <% if current_user.last_synchronized_at %>
    <small class="last-sync"><span class="glyphicon glyphicon-time" aria-hidden="true"></span> Last synchronized <span id="sync-time"><%= readable(current_user.last_synchronized_at) %></span></small>
    <% end %>
    <input type="search" id="search" placeholder="Find a project..." class="form-control" />
  </div>

  <div id="repositories">
    <p class="empty">Beep boop&hellip;</p>
  </div>
</section>
